@font-face {
  font-family: Gilroy;
  src: url("./assets/TT\ Norms\ Pro\ Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/TT\ Norms\ Pro\ Regular.otf");
  font-weight: 100;
}

html {
  font-size: 30pt;
}

.reveal .slides {
  text-align: left;
  display: flex;
}

:root {
  --r-main-font-size: 1rem;
  --r-heading1-size: 2rem;
  --r-heading2-size: calc(var(--r-heading1-size) * 0.75);
  --r-heading-font: Gilroy;
  --r-main-font: Gilroy;
}

.quote {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
  text-align: right;

  & * {
    max-width: 60%;
  }
}

.reveal ul {
  margin: 0;
  list-style: none;
  & li {
    display: flex;
    &:before {
      content: "—";
      margin-left: calc(-1em + 4pt);
      margin-right: 4pt;
    }
  }
}
