@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik-Bold.ttf');
  font-weight: 700;
}

:root {
  --background: black;
  --text-color: white;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Rubik;
}

html {
  font-size: 60pt;
}

.reveal .me {
  width: 400pt;
  height: 400pt;
  border-radius: 50%;
  border: 5pt white solid;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10pt 25pt;
}

.reveal p,
.reveal ul {
  font-size: 0.5em;
}

.reveal ul {
  margin: 0 auto;
  display: inline-block;
}

.reveal ul li {
  clear: left;
  float: left;
  display: block;
  text-align: left;
}

.reveal ul li::before {
  content: "•";
  display: inline-block;
  margin-right: 10pt;
}

.reveal h1 {
  font-weight: 700;
  font-family: Squealer;
  font-size: 144pt;
}

.reveal h2 {
  font-weight: 500;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: uppercase;
}
.reveal h4 {
  font-size: 80%;
}

.slide-background {
  width: 100%;
  height: 100%;
}

.full-image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.reveal h1:not(:last-child),
.reveal h2:not(:last-child),
.reveal h3:not(:last-child),
.reveal h4:not(:last-child),
.reveal h5:not(:last-child),
.reveal h6:not(:last-child) {
  margin-bottom: 0.5em;
}

.reveal strong {
  font-weight: bold;
}

.reveal code {
  font-size: 0.3em;
  padding: 0 10pt;
  text-align: left;
  line-height: 1.7em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5pt 25pt;
  font-family: Hasklig;
}

.reveal pre:not(:last-child) {
  margin-bottom: 10pt;
}

h1.title {
  color: white;
}

.title-logo,
.title-qr {
  display: inline-block;
  height: 150pt;
}

.reveal table th,
.reveal table td {
  font-size: 0.5em;
  padding: 3pt 8pt;
}

.reveal table {
  margin: 0 auto;
}

.reveal table th {
  font-weight: 500;
}

icn {
  display: inline-flex;
  border-radius: 50%;
  color: white;
  width: 30pt;
  height: 30pt;
  justify-content: center;
  align-items: center;
}

icn::after {
  content: attr(c);
  display: flex;
  font-size: 21pt;
}

icn[c=✔],
icn[c=🗎] {
  background-color: #6ab04c;
}

icn[c=⚑] {
  background-color: #f9ca24;
}

icn[c=✘],
icn[c=🗋] {
  background-color: #eb4d4b;
}

.reveal .point {
  line-height: 30pt;
  font-size: 30pt;
}

.reveal .point icn {
  width: 24pt;
  height: 24pt;
}

.reveal b {
  font-weight: 600;
}